.list-item{
    padding: 20px;
    font-weight: bold;
    display: inline-block;
    width: 450px;
    text-align: center;
    border: 1px solid black;

    img{
        width: 60px;
        height: 60px;
    }
    
}